/*
==================================
Header
==================================
*/
header {
    font-family: 'Arbutus', cursive;
    font-size: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
h1 {
    font-size: 70px;
    font-family: 'Arbutus', cursive;
    color: aliceblue;
}
h2 {
    font-size: 30px;
     font-family: 'Sirin Stencil', cursive;
    color: aliceblue;
}
p {
   font-size: 30px;
     font-family: 'Sirin Stencil', cursive;
    color: aliceblue;  
}

body {
    background: url(../img/Avengers-19.jpg);
}
form {
    background-image: url(../img/Avengers-28.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 1250px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    border: 10px;
    border-radius: 30px;
    
}
fieldset,
label,
input {
    display: block;
    padding: 17.5px;
    border: 10px;
    border-radius: 30px;
}
input {
    padding-left: 90px;
    padding-right: 90px;
    border: 10px;
    border-radius: 30px;
        
}
label {
    font-size: 15px;
}
textarea {
    padding: 10px;
    border: 10px;
    border-radius: 30px;
}
.btn {
    font-family: 'Sirin Stencil', cursive;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    background-color: blue;
    color: white;
}